footer {
    flex-shrink: 0;
    background-color: getColour(secondary);
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    
    
    .footer__container {
        display: block;
        text-align: center;
        color: getColour(textcoloursecondary);

        @media(min-width: 992px) {
            display: flex;
            justify-content: space-between;
        }
    }

    
}